{% extends "blog/base.html" %} 
{% block content %}


 
    <div class="container-fluid"> 
        <center>                
        {% if name %}
            
                <h1>Thanks {{ name }}!</h1>
                <p>We have received your email and we'll respond shortly.</p>
                <hr>
            
        {% else %}
            <h1 class="h1">Contact us <small>Feel free to contact us</small></h1>
            <hr>
        {% endif %}     
        </center>   
        <br>
    </div>
       
    <div class="container">
        <div class="row">  
                <div class="col-md-8">
                    <div class="well well-sm">
                        <form action="{% url 'blog:contact' %}" method="post">  
                        {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>
                                            Name</label>
                                        <input type="text" class="form-control" name="name" placeholder="Enter name" required="required" />
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            Email Address</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                            </span>
                                            <input type="email" class="form-control" name="email" placeholder="Enter your email" required="required" /></div>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            Subject</label>
                                        <select name="subject" class="form-control" required="required">
                                            <option value="na" selected="">Choose One:</option>
                                            <option value="service">Customer Service</option>
                                            <option value="suggestions">Suggestions</option>
                                            <option value="product">Product Support</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>
                                            Message</label>
                                        <textarea name="message" class="form-control" rows="9" cols="25" required="required"
                                            placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-success pull-right" id="btnContactUs">
                                        Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            <div class="col-md-4">
                <form>
                <legend><span class="glyphicon glyphicon-globe"></span> Our office (N/A for now)</legend>
                <hr>
                <address>
                    <strong>FiveTal.com</strong><br>
                    <p title="Phone"><strong>Phone</strong>
                        <br>0727924948
                        <br>0786140469</p>
                </address>
                <address>
                    <strong>John Mwalavu Kyalo</strong><br>
                    <a href="mailto:#">johnigkyalo@gmail.com</a>
                </address>
                </form>
            </div>
        </div>
    </div>
{% endblock %}