{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <h4 class="font-weight-bold">Search any field or combine</h4>
  <div class="content-section">
    <form method="get">
      {{ filter.form|crispy }}
      <button class="btn btn-success mb-3" type="submit">Search</button>
    </form>
    
    <ul>
      {% for post in filter.qs %}
        <li>
          <a href="{% url 'blog:post-detail' post.id %}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>  
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-success mb-4"href="?page=1">First</a>
        <a class="btn btn-outline-success mb-4"href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-success mb-4"href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-success mb-4"href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.next %}
        <a class="btn btn-outline-success mb-4"href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-success mb-4"href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
{% endblock content %}
