      <div class="col-md-4 mt-3">
          <div style="border-radius: 19px 19px 19px 19px;" class="card-body shadow1">
            <h3 class="font-weight-bold">PyDjem Services</h3>
            <p class='text-muted'><a class="font-weight-bold" href="{% url 'blog:contact' %}">Contact Us</a> for the following;
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Web Development</li>
                <li class="list-group-item list-group-item-light">Website-Management Systems Integration</li>
                <li class="list-group-item list-group-item-light">Data Analytics and Visualization</li>
                <li class="list-group-item list-group-item-light">Python and Django Tutorials</li>
              </ul>
            </p>
          </div>
      </div>