{% block sidebar %}
<div class="col-md-4 mt-4">
		<div style="border-radius: 19px 19px 19px 19px;" class="card-body shadow1">
			<h3 class="font-weight-bold">Recent Posts</h3>
			{% for post in recent_posts %}
					<hr>
					<a href="{% url 'blog:post-detail' post.slug %}"><img class="col-md-5 float-left img-fluid" src="{{ post.photo.url }}"></a>	
					<p>
						<a href="{% url 'blog:post-detail' post.slug %}">{{ post.title }}</a>
						<a href="{% url 'blog:post_by_category' post.category.pk %}"><br>
							{{ post.category }}</a> <small>{{ post.publish_date|date:"F d, Y"}}</small>
					</p>
					<br>
			{% endfor %}
		</div>
</div>
{% endblock sidebar %}